@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-black text-slate-100;
  }
  h1, h2, h3, h4, button, select, input {
    @apply font-nunito;
  }

  /* Remove spin buttons (setas para cima e para baixo) de campos numéricos */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
